.Technologie{
    display: flex;
    width: auto;
    height: 150px;
    padding: 30px 100px;
    align-items: center;
    gap: 36px;
    flex-shrink: 0;
    border:transparent;
    border-top:1px solid white;
    /* border:1px solid red; */
    background: #000;
    color: #FFF;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.arrowTwo{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.Tech{
    display: flex;
    width: 93.9%;
    height: auto;
    padding: 150px 10px 50px 70px;
    background: #000;
    /* position: absolute; */
    margin-top: 20px;
    z-index: 2;
    /* border:1px solid red; */

}


.TechGauche{
    /* border:1px solid red; */
    margin-left: 10px;
}
.TechDroite{
        
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.TechDroiteHaut{
    color: #FFF;
    font-family: Arial;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 600px;
    /* border: 1px solid red; */
    margin-top: -20px;
}
.TechDroiteBas{
    margin-top: -20px;
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    /* border: 1px solid red; */
    width: 378px;
    height: 88px;
}

@keyframes gifContent{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.gif{
    width: 150px;
    height: 70px;
    border-radius: 20px;
}
.callMeTexte{
    color: #FFF;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media screen and (max-width: 600px) {
    .Tech{
        display: flex;
        flex-direction: column;
        width: 93.9%;
        
    }
    .TechDroiteHaut{
        font-size: 40px;
        width: 350px;
    }
    .TechDroiteBas{
        font-size: 15px;
        width: 250px;
    }
    .giiiif{
        margin-top:-10px ;
    }
    .TechGauche{
        margin-left: 0px;
    }
    .Technologie{
        font-size: 30px;
        padding: 20px 10px;
        width: 400px;
    }
    .arrowTwo{
        height: 50px;
        width: 50px;
    }
}